.App {
	text-align: center;
	background-image: url(https://i.redd.it/rmmz9vnwvd031.jpg) ;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.columnStyle {
	font-size: 25px;
	background-color: lightcyan;
	border: 2px solid black;
	width: 125px;
	padding: 3px;
	padding-right: 20px;
	text-align: right;
	color: black;
}

.titleStyle {
	font-size: 40px;
	padding-left: 120px;
	word-spacing: 60px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 3px;
	text-Align: center;
	text-decoration: underline;
}

.tableStyle {
	border-collapse: collapse;
	border: 2px solid black;
	margin: auto;
}

.headerStyle {
	font-size: 35px;
	background-color: lightcyan;
	border: 1px solid black;
}

.box {
	position: absolute;
}

.square {
	position: absolute;
	border: 3px solid black;
	background-color: aquamarine;
}

.bgImage {
	position: absolute;
	left: 2%;
	overflow: hidden;
}

.name {
	position: absolute;
	top: 85%;
	left: 2%;
	font-size: x-large;
	font-weight: bold;
}

.footer {
	position: absolute;
	top: 100%;
	left: -1%;
	height: 25%;
	width: 100%;
	border: 3px solid black;
	background-color: greenyellow;
}

.powerCoin {
	position: absolute;
	left: 5%;
	border-radius: 50%;
}

.brawlCoin {
	position: absolute;
	left: 70%;
	border-radius: 50%;
}

.powerCoinStyle {
	position: absolute;
	top: 15%;
	left: 25%;
	font-size: x-large;
	font-weight: bold;
}

.brawlCoinStyle {
	position: absolute;
	top: 15%;
	left: 90%;
	font-size: x-large;
	font-weight: bold;
}

.symbol {
	position: absolute;
	top: 10%;
	left: 45%;
	font-size: xx-large;
	font-weight: bold;
}

.power {
	position: absolute;
	top: 90%;
	left: 65%;
	font-size: large;
	font-weight: bold;
}

.powerStyle{
	position: absolute;
	top: 85%;
	left: 88%;
	height: 15%;
	width: 13%;
	font-size: xx-large;
	font-weight: bold;
	color: white;
	background-color: black;
}

.rankStyle {
	position: absolute;
	top: -15%;
	left: 2%;
	font-size: x-large;
	font-weight: bold;
	color: black;
}

.trophyStyle {
	position: absolute;
	top: -16%;
	left: 14%;
	width: 70%;
	height: 12%;
	border: 3px solid black;
}

.trophy {
	position: absolute;
	top: -6%;
	left: 58%;
	font-size: x-large;
	font-weight: bold;
	color: yellow
}

.trophyImage {
	position: absolute;
	top: -7%;
	left: 40%;
}

.hexagon {
	position: absolute;
	top: -20%;
	left: -5%;
	border-radius: 50%;
}

.title {
	color: white;
}

.bar {
	height: 100%;
	background-color: gold;
}



